<%= form_for([@book, @message], remote: true, authenticity_token: true,  html:{class:'form-horizontal'} ) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <%= render 'shared/errors', object: @message %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= bootstrap_form_field(f, :content) do %>
    <%= f.text_area :content %>
  <% end %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', book_path(@book), id: 'cancel_review', class: 'btn btn-link' %>
  </p>
<% end %>
