<p id="notice"><%= notice %></p>

<p>
  <strong>Besked</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Bruger:</strong>
  <%= @message.user %>
</p>

<%= link_to 'Rediger', edit_message_path(@message) %> |
<%= link_to 'Tilbage', messages_path %>
