<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
  <div id="error_explanation">
      Oops! The book could not be saved.<br />
      Please correct the following <%= pluralize(@book.errors.count, "error") %>:
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

  <%= f.label :title %> <%= f.text_field :title, autofocus: true %><br />
  <%= f.label :author %> <%= f.text_field :author %><br />
  <%= f.label :pages %> <%= f.text_field :pages %><br />
  <%= f.label :price %> <%= f.text_field :price %><br />
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', books_path %>
  </p>
<% end %>
