<%= form_for(@book, html:{class: 'form-horizontal', multipart: true}) do |f| %>
  <%= render 'shared/errors', object: @book %>

  <%= bootstrap_form_field(f, "Titel") do %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, "Forfatter") do %>
    <%= f.text_field :author, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, "Beskrivelse") do %>
    <%= f.text_area :abstract, rows: 5, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, "Antal sider") do %>
    <%= f.text_field :pages, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, "Pris") do %>
    <%= f.text_field :price, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, "Cover") do %>
    <%= f.select :cover, ['Paperback', 'Hardcover', 'Læderindbundet'], { prompt: "Vælg..." }, { class: "form-control" } %>
  <% end %>

  <%= bootstrap_form_field(f, "Genre") do %>
    <%= f.select :genre, Book::GENRES, { prompt: "Vælg..." }, { class: "form-control" } %>
  <% end %>

  <%#<%= bootstrap_form_field(f, "Udgivet") do %>
    <%#<%= f.date_select :published_on,%>
                      <%#{ start_year: 1, prompt: true, order: [ :month, :day, :year ] },%>
                      <%#{ class: "form-control date-select" } %>
  <%#<% end %>
  <% f.fields_for :book_photo do |photo| %>
    <% render 'book_photo_fields', f:photo %>
  <% end %>
  <div class="links"><%= link_to_add_association 'add a photo', f, :book_photos %></div>
  <br>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @book.id ? book_path(@book) : books_path, class: 'btn btn-link' %>
  </p>
<% end %>
