<div class="col-sm-2">
  <%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <div class="search_container">
      <div class="search_icon"><%= image_tag("search.png", size: "50", :alt => "search_icon", :title => "Søg") %></div>
      <div class="search_field"><%= text_field_tag :search, params[:search], placeholder: "Titel, forfatter" %></div>
      <div class="search_btn"><%= submit_tag "Søg" %></div>
      <br>
    </div>
    <div class="navigation">
      <ul class="navigation_list">
        <p class="navigation_list_hl">Genrer</p>
        <li><%= link_to 'Alle Bøger', books_path %></li>
        <li><%= link_to 'Filosofi', books_path(search: 'Filosofi') %></li>
        <li><%= link_to 'Natur', books_path(search: 'Natur') %></li>
        <li><%= link_to 'Psykologi', books_path(search: 'Psykologi') %></li>
        <li><%= link_to 'Religion', books_path(search: 'Religion') %></li>
      </ul>
    </div>
  <% end %>

  <% if @books.present? %>
    <%= render 'search_books' %>
  <% else %>
    <% flash[:notice] = "Der var desværre ingen resultater for #{params[:search]}" %>
  <% end %>
</div>

<div class="col-sm-8">
  <div id="books">
  <% books.each_slice(3).to_a.each do |chunk| %>
    <div class="row well" style="padding-left: 125px;">
      <% chunk.each do |book| %>
        <div class="col-sm-4">
        <% if book.book_photos.first.present? %>
          <%= link_to(book) do %>
            <div class="book_cover"><%= image_tag(book.book_photos.first.photo.url(:thumb), alt: 'Billede mangler') %></div>
          <% end %>
        <% else %>
          <%= image_tag('default.png', alt: 'Billede mangler') %>
        <% end %>
          <div class="book_info">
            <%= link_to(truncate(book.title, length: 20), book) %> <br />
            <p class="forfatter">af: <%=  book.author.titleize %></p>
            <p class="cover"><%= book.cover %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<div class="col-sm-2">
</div>

<div class="page_entires_container">
  <div class="pull-left page-entries-info">
  <%# page_entries_info books %>
  </div>

  <div class="pull-right">
  <%# paginate books %>
  </div>
</div>
