<div class="col-sm-2"></div>

<div class="col-sm-8">
  <div id="books">
  <% books.each do |book| %>
    <div class="row well">
      <% if book.book_photos.first.present? %>
        <%= link_to(book) do %>
          <%= image_tag(book.book_photos.first.photo.url(:thumb), alt: 'Billede mangler') %>
        <% end %>
      <% end %>

      <div class="book_info">
        <%= link_to(truncate(book.title, length: 20), book) %> <br />
        <span class="forfatter">af: <%=  book.author.titleize %></span>
      </div>

    </div>
  <% end %>
  </div>
</div>

<div class="col-sm-2"></div>

<div class="page_entires_container">
  <div class="pull-left page-entries-info">
  <%= page_entries_info books %>
  </div>

  <div class="pull-right">
  <%= paginate books %>
  </div>
</div>