<h1><%= pluralize(@books.size, 'book') %></h1>

<%= render 'shared/flashes' %>

<p>Available as of
  <%= formatted_time(@available_at) %>
</p>

<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to(book.title, book) %>
    by <%= book.author %>
  </li>
<% end %>
</ul>

<p>
  <%= link_to 'New Book', new_book_path %>
</p>
