<article class="book">
  <header>
    <h2 class="text-primary"><%= @book.title %></h2>
    <aside class="book-cover">
      <%= image_for(@book) %>
    </aside>
  </header>
  <p><%= @book.abstract %></p>

  <section>
    <header><h4 class="text-primary">Details</h4></header>

    <p>
      <label>Author:</label>
      <%= @book.author %>
    </p>
    <p>
      <label>Genre:</label>
      <%= @book.genre %>
    </p>
    <p>
      <label>Pages:</label>
      <%= number_with_delimiter(@book.pages) %>
    </p>
    <p>
      <label>Price:</label>
      <%= number_to_currency(@book.price) %>
    </p>
    <p>
      <label>Published On:</label>
      <%= @book.published_on %>
    </p>
    <p>
      <label>Average Review:</label>
      <%= render partial: 'average_stars', locals: { book: @book } %>
    </p>
  </section>

  <% if @book.recent_reviews.any? %>
  <section>
    <header><h4 class="text-primary">Recent Reviews</h4></header>
    <%= render partial: 'shared/reviews', locals: { reviews: @book.recent_reviews } %>
    <p>
      Read all <%= link_to pluralize(@book.reviews.size, 'review'), book_reviews_path(@book) %>
    </p>
  </section>
  <% end %>

  <nav>
    <%= link_to 'Write a Review', new_book_review_path(@book), class: 'btn btn-primary' %>
  </nav>

  <nav id="book-show-buttons">
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default' %>
    <span class='inline-button-form'>
      <%= button_to "Delete #{@book.title}", @movie,
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   class: 'btn btn-danger' %>
    </span>
  </nav>

</article>
