<article class="book">
  <header>
    <%= image_for(@book) %>
    <h2><%= @book.title %></h2>
  </header>
  <p><label>Author:</label> <%= @book.author %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Price:</label> <%= number_to_currency(@book.price) %></p>
  <p><label>Published On:</label> <%= @book.published_on %></p>
</article>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'All Books', books_path, id: 'all_books_link' %>

<%= button_to "Delete #{@book.title}", @movie,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
