<p id="notice"><%= notice %></p>

= image_tag @photo.image_url() if @photo.image?

<p>
  <strong>Itle:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image_url() if @photo.image? %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
