<% # http://stackoverflow.com/questions/19452853/actioncontrollerinvalidauthenticitytoken-when-disable-js-ajax-request %>
<%= form_for([ @book, @review ], remote: true, authenticity_token: true, html:{class:'form-horizontal'} ) do |f| %>
  <%= render 'shared/errors', object: @review %>

  <div class="stars">
  <%= bootstrap_form_field(f, :stars) do %>
    <% Review::STARS.each do |star| %>
      <span class="star"><%= f.radio_button :stars, star %> <%= star %></span>
    <% end %>
  <% end %>
  </div>

  <%= bootstrap_form_field(f, :comment) do %>
    <%= f.text_area :comment, rows: 10, placeholder: 'Hvad syntes du om bogen?', class: "form-control" %>
  <% end %>

  <p style="margin-left:150px">
    <%= f.submit "Send besked", class: 'btn btn-primary' %>
  </p>
<% end %>
