$('#reviews').prepend("<%= escape_javascript(render partial: 'shared/review', locals: { review: @review }) %>");
$('#review_form_container')
   .html("<%= escape_javascript(render partial: 'layouts/flashes') %>")
   .highlight({duration:1000, opacity:"0.6"});

var reviewCount = $('#review_count');
if (reviewCount) {
  reviewCount.html("<%= pluralize(@review.book.reviews.size, 'review') %>, average <%= format_average_stars(@review.book) %>");
}

var averageReview = $('#average_review');
if (averageReview) {
  averageReview.html("<%= format_average_stars(@review.book) %> <span class='text-muted'>(out of <%= pluralize(@review.book.reviews.size, 'review') %>)</span>");
  $('#read_reviews a').html("<%= pluralize(@review.book.reviews.size, 'review') %>");
}
