<header>
  <h3>Reviews for <%= link_to(@book.title, @book) %></h3>
  <span id="review_count">
    (<%= pluralize(@reviews.size, 'review') %>, average <%= format_average_stars(@book) %>)
  </span>
</header>

<%= render partial: 'shared/reviews', locals: { reviews: @reviews } %>

<nav>
  <%= link_to 'Skriv kommentar eller anmeldelse', new_book_review_path(@book),
        remote: true,
        data: { 'update-target' => 'review_form_container' },
        class: 'btn btn-primary' %>
  <%= link_to 'Back', @book, class: 'btn btn-link' %>
</nav>

<div id="review_form_container"></div>
