<header>
  <h3>Reviews for <%= link_to(@book.title, @book) %></h3>
  <span id="review-count">
    (<%= pluralize(@reviews.size, 'review') %>, average <%= format_average_stars(@book) %>)
  </span>
</header>

<%= render partial: 'shared/reviews', locals: { reviews: @reviews } %>

<%= link_to 'Back', @book %>
