<header class="page-header">
  <div style="">
    <%= image_tag 'logo.jpg', size: "120" %>
  </div>
  <h1 style="display: inline; "><%= link_to('Kundskabens Træ', root_path) %></h1>
  <% if user_signed_in? %>
    <li id="fat-menu" class="dropdown pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profil", edit_user_registration_path %></li>
        <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <li class="divider"></li>
      </ul>
    </li>
  <% else %>
    <p class="pull-right"><%= link_to 'Login', new_user_session_path %></p>
  <% end %>
</header>
