    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="img-responsive logo">
          <%= image_tag("logo_r.png", size: "110", :alt => "logo", :title => "Udvalg") %>
        </div>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/books">Kundskabens Træ <i><span style="font-size:12px; color:black; padding-bottom:9px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Køb og salg af bøger</span></i></a>  
        </div>

          <ul class="nav navbar-nav navbar-right">
            <% if !user_signed_in? %>
              <li id="salg" ><%= link_to "Sælg bøger", new_user_session_path %></li>
            <% else %>
              <li ><a style="color:darkred; text-decoration:underline;" href="/books/new">S&aelig;lg b&oslash;ger</a></li>
            <% end %>

            <% if user_signed_in? %>
              <li id="fat-menu" class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Min Profil <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profil", edit_user_registration_path %></li>
                  <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                  <li class="divider"></li>
                </ul>
              </li>
            <% else %>
              <ul>
                <li id="login">
                  <%= link_to image_path('users/sign_in'), title: "Login", data: { caption: "<strong>Lorem   ipsum dolor</strong> sit amet, consetetur sadipscing"} do %>
                    <%= image_tag 'login.png', size: '32', alt: 'Alt Image Text' %>
                  <% end %>
                  <%= link_to "Log ind", new_user_session_path %>
                </li>
              </ul>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div><!--/.nav-collapse -->
</nav>
